.auth__subtitle{
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-align: center;
  margin: 0;
  background-color: inherit;
  color: white;
  border: none;
  outline: none;

}